.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: aliceblue;
    width: 300px;
}

.form button {
    padding: 5px;
}

.todo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    min-height: 165px;
}

p {
    margin: 10px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: end;
}

.header button {
    padding: 2px 7px
}

.bg-dark {
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(22, 22, 22, 0.952);
    color: antiquewhite;
    overscroll-behavior: contain;
}

.btns {
    display: flex;
    gap: 10px;
}